html,
body {
    width: 100%;
    height: 100%;
}

html {
  --scrollbarBG: #CFD8DC !important;
  --thumbBG: #90A4AE !important;
}
body::-webkit-scrollbar {
  width: 11px !important;
}


body {
  scrollbar-width: thin !important;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG) !important;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG) !important;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) !important ;
  border-radius: 6px !important;
  border: 3px solid var(--scrollbarBG) !important;
}

textarea{
  height: 155px;
}

input {
    margin-bottom: 5px;
}

.hidden {
    display: none !important;
}

.w-30{
    width: 35% !important;
}

.w-70{
    width: 65% !important;
}
p {
    line-height: 90%;
}
.alert {
    padding: .2rem 1.25rem .2rem 1.45rem!important;
    padding-bottom: 0.10 !important;
    margin-bottom : 0.5rem;
}

.w-price {
    width: 20% !important;
}

.message-container {
    height: 65px;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.loader-div {
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.signature-image {
  height: 100px;
  background-color: grey;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #000;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #007bff, #02b3a1);
}

.pace.pace-inactive {
  display: none;
}

.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background: black;
}

.dropdown-item:hover{
  cursor: pointer;
}

.loader {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .form-control-xs {
    display: block;
    width: 10%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-control-small {
    display: block;
    width: 20%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .form-control-xs.serviceslist {
    width: 20%;
  }
  
  .settings-button {
      font-size: 35px;
  }

  /*LIGHT THEME*/
  .light-theme {
    background: rgb(240, 240, 240) !important;
    color: black !important;
  }

  .light-theme .form-control {
    background: white !important;
    color: black !important;
  }

  .light-theme .form-control:read-only {
    background: #e9ecef !important;
    color: black !important;
  }

  .light-theme .qs-square:hover {
    background-color : #007bff !important;
  }

  .light-theme .qs-current {
    background-color : #0061c8;
  }

  .light-theme .tablinks {
    padding: 20px 15px 20px 15px;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    align-items:center;
    justify-content:center;
  }

  .light-theme .tablinks p{
    margin-bottom : 0;
  }

  .light-theme .tablinks:hover {
    background-color: rgb(200, 200, 200);
  }
  
  .light-theme .tablinks.active {
    background-color: #ebebeb;
    border-bottom:none;
  }

  .light-theme .tablinks.first {
    border-radius: 5px 0px 0px 0px;
  }

  .light-theme .tablinks.last {
    border-radius : 0px 5px 0px 0px;
  }

  .light-theme .tabcontent {
    padding: 20px 15px 15px 20px;
    margin-bottom : 20px;
    display: none;
    border: 1px solid rgb(200, 200, 200);
    border-top: none;
    background-color: #ebebeb;
    border-radius : 0px 0px 5px 5px;
  }

  .light-theme .tabs {
    display: flex;
    flex-direction: row;
  }

  .light-theme .tabcontent.first-tab {
    display: block;
  }

  .light-theme .tox-tinymce{
    border-radius : 5px;
  }

  /*DARK THEME*/
  .dark-theme {
    background: #212121 !important;
    color: rgb(219, 219, 219) !important;
  }

  .dark-theme .form-control {
    background: #303030 !important;
    color: rgb(219, 219, 219) !important;
    border: 1px solid #404040
  }
  
  .dark-theme .form-control:focus{
    border-color : #02b3a1;
  } 

  .dark-theme .form-control:read-only {
    color: #8f8f8f !important;
    background-color: #494949 !important;
    border: 1px solid #404040
  }

  .dark-theme .form-control-small {
    background: #303030 !important;
    color: rgb(219, 219, 219) !important;
    border: 1px solid #404040
  }

  .dark-theme .form-control-small:focus{
    border-color : #02b3a1;
  } 

  .dark-theme .form-control-small:read-only {
    color: #dadada !important;
    background-color: #4d4d4d !important;
    border: 1px solid #404040
  }

  .dark-theme .btn-primary {
    background-color: #02b3a1;
    border-color: #02b3a1;
  }

  .dark-theme .btn-primary:hover {
    color: rgb(219, 219, 219);
    background-color: #017a6e;
    border-color: #017a6e;
  }

  .dark-theme .btn-primary:disabled {
    background-color: #4e9c94;
    border-color: #4e9c94;
  }

  .dark-theme .btn-primary:focus {
    background-color: #017a6e !important;
    border-color: #017a6e !important;
  }

  .dark-theme .btn-outline-primary {
    color: #02b3a1;
    border-color: #02b3a1;
  }

  .dark-theme .btn-outline-primary:hover {
    background-color: #79f1e5 ;
  }

  .dark-theme .btn-outline-primary:disabled {
    color: #4e9c94;
    border-color: #4e9c94;
  }

  .dark-theme .btn-outline-primary:focus {
    color: #79f1e5 !important;
    border-color: #79f1e5 !important;
  }

  .dark-theme .btn-danger {
    background-color:  #51455E;
    border-color: #51455E;
  }

  .dark-theme .btn-danger:hover {
    color: rgb(219, 219, 219);
    background-color:  #3A2D49;
    border-color: #3A2D49;
  }

  .dark-theme .btn-danger:focus {
    background-color: #31263d !important;
    border-color: #31263d !important;
  }

  .dark-theme .custom-control-input:checked~.custom-control-label::before {
    color: rgb(219, 219, 219);
    border-color: #02b3a1;
    background-color: #02b3a1;
  }

  .dark-theme .custom-control-label::before{
    background-color: #212121;
  }

  .dark-theme .qs-controls {
    background: #404040 !important;
  }

  .dark-theme .qs-squares{
    background-color: #303030
  }

  .dark-theme .qs-square:hover {
    background-color : #02b3a1 !important;
  }

  .dark-theme .qs-current {
    background-color : #769e9a;
  }

  .dark-theme .alert-danger {
    background: linear-gradient(to right, #CF6679, rgb(56, 48, 48));
    border: none;
  }

  .dark-theme .alert-success {
    background: linear-gradient(to right, #018786, rgb(56, 48, 48));
    border: none;
  }

  .dark-theme .alert-success, .dark-theme .alert-danger {
    color : black
  }

  .dark-theme .btn-outline-success {
    color: #20c79d;
    border-color: #20c79d;
  }

  .dark-theme .input-group-text{
    background-color: #646464;
    border : none;
    color : #888888;
  }

  .dark-theme .btn-outline-success:hover {
    background-color: #1a9b7a;
  }

  .dark-theme .btn-outline-success:focus {
    background-color: #1a9b7a !important;
  }

  .dark-theme .tablinks {
    padding: 20px 15px 20px 15px;
    text-align: center;
    border: 1px solid white;
    display: flex;
    align-items:center;
    justify-content:center;
  }

  .dark-theme .tablinks p{
    margin-bottom : 0;
  }

  .dark-theme .tablinks:hover {
    background-color: rgb(105, 105, 105);
  }
  
  .dark-theme .tablinks.active {
    background-color: #161616;
    border-bottom:none;
  }

  .dark-theme .tablinks.first {
    border-radius: 5px 0px 0px 0px;
  }

  .dark-theme .tablinks.last {
    border-radius : 0px 5px 0px 0px;
  }

  .dark-theme .tabcontent {
    padding: 20px 15px 15px 20px;
    margin-bottom : 20px;
    display: none;
    border: 1px solid white;
    border-top: none;
    background-color: #161616;
    border-radius : 0px 0px 5px 5px;
  }

  .dark-theme .tabs {
    display: flex;
    flex-direction: row;
  }

  .dark-theme .tabcontent.first-tab {
    display: block;
  }

  .dark-theme hr{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .dark-theme .tox-tinymce{
    border: 1px solid #404040;
    border-radius : 5px;
  }

  .dark-theme .tox-toolbar__primary{
    background-color: #404040 !important;
  }

  .dark-theme .tox .tox-tbtn svg{
    fill : #02b3a1;
  }
  .dark-theme .tox-tbtn--enabled{
    background-color: #606060 !important;
  }

  .dark-theme .tox-tbtn:hover{
    background-color: #505050 !important;
  }

  .dark-theme .tox-tbtn--disabled:hover{
    cursor: default !important;
    background-color: #404040 !important;
  }

  .dark-theme .tox-tbtn--disabled svg:hover{
    fill : #02b3a1;
  }

  .dark-theme .tox-tbtn__select-label{
    color: #02b3a1 !important;
  }

  .dark-theme .tox-collection__group{
    background-color : #404040 !important;
  }

  .dark-theme .menuitemcheckbox{
    background-color : #404040 !important;
  }

  .dark-theme .tox-collection__item-label{
    color: #02b3a1 !important;
  }
  .dark-theme .tox-collection__item--enabled {
    background-color: #606060 !important;
  }

  .dark-theme .tox-collection__item--active{
    background-color: #505050 !important;
  }

  .dark-theme .tox-statusbar{
    background-color: #404040 !important;
  }

  .dark-theme .tox-statusbar__resize-handle svg{
    fill: white !important;
  }
  .dark-theme .tox-dialog__header, .dark-theme .tox-dialog__body, .dark-theme .tox-dialog__footer{
    background:#202020 !important;
  }

  .dark-theme .tox-dialog .tox-button{
    background : #02b3a1 !important;
  }

  .dark-theme .tox-dialog .tox-button:hover{
    border: 1px solid white;
  }

  .dark-theme .tox-dialog__title, .dark-theme .tox-label{
    color : white !important;
  }

  .dark-theme .tox-button--secondary{
    background-color : #f0f0f0 !important;
  }

  .dark-theme .tox-dialog-wrap__backdrop{
    background-color: rgba(75, 75, 75, 0.75) !important;
  }

  .dark-theme .tox-textfield{
    color: rgb(182, 182, 182) !important;
    background : #303030 !important;
    border: 1px solid #404040 !important;
  }

  .dark-theme .tox-listbox.tox-listbox--select {
    background-color : #303030 !important;
    color: white !important;
  }

  .dark-theme .tox-listbox__select-chevron svg{
    fill : white !important;
  }

  .dark-theme .dropdown-item {
    background-color: #505050;
    color: white;
  }

  .dark-theme .dropdown-item.active {
    background: #02b3a1 !important;
  }

  .dark-theme .dropdown-item:hover {
    background: #3f3f3f !important;
    color: white;
  }

  .dark-theme .dropdown-menu.show {
    background-color: #505050;
  }
 